.card-product {
  width: 280px;
  height: 280px;
  border-radius: 4px;
  background-color: #ffffff;
}

.offer {
  background-color: #e7ff86;
  width: 90px;
  height: 32px;
  border-radius: 29px;
  color: #474747;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.75px;
}
